.btn {
    padding: 8px 12px;
    background-color: rgb(4, 4, 4);
    color: white;
    font-size: 1rem;
    outline: none;
}

.text {
    background-color: inherit;
    border: none;
    color: black;
}

.text:hover {
    outline: 1px solid black;
}

.buy {
    background-color: green;
    border: none;
}

.buy:hover {
    background-color: rgb(3, 149, 3);
}